.DS_Store
.vscode/
**/target/
deploy/mysql/target/
**/.classpath
**/.project
**/.settings/
*.log
node_modules/
playwright-report/
.playwright/
tests/e2e/tests-practice/
practice/
sdet_dev.session.sql
